.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: var(--space-4);
  background-color: var(--surface);
  color: var(--text);
  
  gap: var(--space-6);
}

.textLogo {
  font-size: var(--text-h4);
  font-weight: bold;
  color: var(--primary-500);
  text-decoration: none;
  text-shadow: var(--text-shadow-dark);
  
}

.logoAccent {
  color: var(--text);
}

.textLogo:hover {
  transform: scale(1.05);
}

.nav {
  display: flex;
  align-items: center;
  gap: var(--space-4);
}
